dialog {
	/*font-size	: 120%;*/

	background-color: #ccc;
	color		: #111;


	border		: 1px solid rgba(0, 0, 0, 0.3);
	border-radius	: 6px;
	box-shadow	: 0 3px 7px rgba(0, 0, 0, 0.3);
}

dialog input {
	width	: 100%;
}
dialog button {
	/*font-size	: inherit;*/
	border		: 1px solid transparent;
	border-radius	: 4px;
}
dialog button:focus {
	outline:0;
}
dialog button.primary {
	background-color: #0cf;
}
dialog::backdrop {
	position	: fixed;
	top		: 0;
	left		: 0;
	right		: 0;
	bottom		: 0;
	background-color: rgba(0, 0, 0, 0.5);
}


